html, body {
    min-height: 100%;
    min-width: 100%;
}
:root {
    --clr-skin-background: 239, 245, 250;
    --clr-skin-foreground: 255, 255, 255;


    --clr-skin-neutral: 75, 85, 99;
    --clr-skin-accent: 59, 130, 246;
    --clr-skin-accent-hover: 37, 99, 235;

    --clr-skin-primary: 75, 85, 99;
    --clr-skin-secondary: 156, 163, 175;
    --clr-skin-secondary: 156, 163, 175;
    --clr-skin-inverted: 255, 255, 255;

    --clr-skin-border: 235, 235, 235;
    --clr-skin-shadow: 235, 235, 235;


    --clr-skin-danger: 220, 38, 38;
    --clr-skin-warning: 240, 180, 10;
    --clr-skin-success: 5, 150, 105;
}

.skin-blue-dark {
    --clr-skin-background: 22, 27, 51;
    --clr-skin-foreground: 13, 12, 29;


    --clr-skin-neutral: 87, 91, 129;
    --clr-skin-accent: 147, 210, 244;
    --clr-skin-accent-hover: 123, 182, 214;

    --clr-skin-primary: 200, 200, 200;
    --clr-skin-secondary: 166, 156, 172;
    --clr-skin-inverted: 13, 12, 29;

    --clr-skin-border: 40, 40, 40;
    --clr-skin-shadow: 37, 44, 101;


    --clr-skin-danger: 220, 38, 38;
    --clr-skin-warning: 240, 180, 10;
    --clr-skin-success: 5, 150, 105;
}

.skin-purple-light {
    --clr-skin-background: 255, 250, 252;
    --clr-skin-foreground: 255, 255, 255;


    --clr-skin-neutral: 225, 174, 255;
    --clr-skin-accent: 172, 0, 97;
    --clr-skin-accent-hover: 138, 0, 78;

    --clr-skin-primary: 36, 7, 23;
    --clr-skin-secondary: 119, 69, 96;
    --clr-skin-inverted: 255, 234, 236;

    --clr-skin-border: 255, 237, 246;
    --clr-skin-shadow: 68, 20, 45;


    --clr-skin-danger: 220, 38, 38;
    --clr-skin-warning: 240, 180, 10;
    --clr-skin-success: 5, 150, 105;
}

.skin-purple-dark {
    --clr-skin-background: 44, 29, 58;
    --clr-skin-foreground: 33, 21, 43;


    --clr-skin-neutral: 100, 50, 129;
    --clr-skin-accent: 250, 236, 248;
    --clr-skin-accent-hover: 211, 185, 206;

    --clr-skin-primary: 237, 214, 248;
    --clr-skin-secondary: 212, 149, 214;
    --clr-skin-inverted: 28, 5, 41;

    --clr-skin-border: 105, 33, 107;
    --clr-skin-shadow: 212, 149, 214;


    --clr-skin-danger: 220, 38, 38;
    --clr-skin-warning: 240, 180, 10;
    --clr-skin-success: 5, 150, 105;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .sortable{
        position: relative;
        cursor: pointer;
    }
    
    .sortable::before, .sortable::after{
        content: '';
        position: absolute;
        right: 0;
        border: 6px solid transparent;
    }
    
    .sortable::before {
        top: 50%;
        transform: translateY(calc(-100% - 2px));
    }

    .sortable::after {
        bottom: 50%;
        transform: translateY(calc(100% + 2px));
    }

    .sortable:hover::before,
    .sortable.desc::before{
        border-bottom-color: #a7a7a7;
    }
    .sortable:hover::after,
    .sortable.asc::after{
        border-top-color: #a7a7a7;
    }
    
    .sortable.asc::before{
        border-bottom-color: green;
    }
    
    
    .sortable.desc::after{
        border-top-color: green;
    }
}