html, body {
    height: 100%;
    width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .expanded .expanded\:hidden {
        display: none;
    }
    .collapsed .collapsed\:hidden {
        display: none;
    }
};